
<div class="pop-bg">
        <p-dialog header="" [(visible)]="displayPrescription" (onHide)="Cancel()" [style]="{width: '80%', height: '600px', overflow: 'auto'}">
                <p-header>
                        Doctors Prescription
                    </p-header>
        
                                <div class="sub-section">                            
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="row align-items-center">
                                                <div class="col-md-3 col-sm-12"><span class="label">Patient Id </span></div>
                                                <div class="col-md-3 col-sm-12"><p-dropdown [options]="patientId" [id]="selectedPatientId"></p-dropdown></div>
                                                <div class="col-md-6 col-sm-12"><input type="text" pInputText/></div>
                                            </div>                                         
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="row align-items-center">
                                                <div class="col-md-3 col-sm-12"><span class="label">Company </span></div>
                                                <div class="col-md-9 col-sm-12"><input type="text" pInputText/></div>
                                            </div>                                         
                                        </div>
                                    </div>
                                    <div class="col-sm-12 mt-3">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <div class="row">
                                                    <div class="form-inline col-md-6 col-sm-12 pl-0">
                                                        <div class="inline-forms">
                                                            <span class="label mr-2">Period From </span>
                                                            <p-calendar [(ngModel)]="frmdate" [showIcon]="true" [(ngModel)]="frmdate" (onSelect)="onSelectDate()"></p-calendar>
                                                        </div>
                                                    </div>
                                                    <div class="form-inline col-md-6 col-sm-12">
                                                        <div class="inline-forms">
                                                            <span class="label mr-2">Time </span>
                                                            <p-calendar [(ngModel)]="todate" [showIcon]="true" (onSelect)="onSelectDate()"></p-calendar>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 mt-3">
                                                <div class="inline-forms">
                                                    <p-checkbox [(ngModel)]="value" binary="true"  label="Show Pending Quality " class="mr-3 ml-0"></p-checkbox>
                                                    <button type="button" pButton icon="pi pi-check"  label="Refresh"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                            
                                            
                                            
                            
                                </div>
                            
                                    <p-table [value]="pDetails"  [responsive]="true" [paginator]="true" [rows]="4" class="tbl-wrap">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                        <th>PatientId</th>
                                                        <th>Name</th>
                                                        <th>IP No</th>
                                                        <th>Bed Name</th>
                                                        <th>Nursing Station</th>
                                                       
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-pre>
                                                <tr>
                                                        <td>{{pre.paientId}}</td>
                                                        <td>{{pre.name}}</td>
                                                        <td>{{pre.ipNum}}</td>
                                                        <td>{{pre.bedname}}</td>
                                                        <td>{{pre.nursingstation}}</td>
                                                 </tr>
                                            </ng-template>
                                        </p-table>
                                        
                            <div class="mt-3">
                                <p-table [value]="prescriptionDetails"  [responsive]="true" [paginator]="true" [rows]="4" class="tbl-wrap">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                                                                <th style="width: 3em">
                                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                                </th>
                                                <th>Date</th>
                                            <th>Item Code</th>
                                            <th>Item Name</th>
                                            <th>Dosage</th>
                                            <th>Duration</th>
                                            <th>Balance</th>
                                            <th>Remarks</th>
                                            <th>ConsID</th>
                                            <th>PatID</th>
                                                   
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-pre>
                                            <tr [pSelectableRow]="rowData">
                                                <td>
                                                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                                                </td>
                                                     <td>{{pre.date}}</td>
                                            <td>{{pre.itemCode}}</td>
                                            <td>{{pre.itemName}}</td>
                                            <td>{{pre.dosage}}</td>
                                            <td>{{pre.duration}}</td>
                                            <td>{{pre.balance}}</td>
                                            <td>{{pre.Remarks}}</td>
                                            <td>{{pre.consid}}</td>
                                            <td>{{pre.patid}}</td>
                                             </tr>
                                        </ng-template>
                                    </p-table>
                            </div>
                                    
                        <div class="mt-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <p-radioButton name="print" value="PrintAll" [(ngModel)]="selectedPrintOpt" label="Print All"></p-radioButton>
                                    <p-radioButton name="trans" value="PrintUnavailable" [(ngModel)]="selectedPrintOpt" label="Print Unavailable"></p-radioButton>
                                    <br>
                                    <p-checkbox [(ngModel)]="value" binary="true"  label="Shoe on Startup"></p-checkbox>
                                </div>
                                <div class="col-md-4">
                                        <button type="button" pButton icon="pi pi-print" label="Print"></button>
                                </div>
                                <div class="col-md-4 text-right">
                                        <button type="button" pButton icon="pi pi-check" (click)="Submit()" label="Ok" class="ui-button-success"></button>
                        <button type="button" pButton icon="pi pi-times" (click)="Cancel()" label="Cancel" class="ui-button-danger ml-2"></button>
                                </div>
                            </div>
                        </div> 
        </p-dialog>
        </div>